html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(150deg, #6fde63, #aee2ad);
}

/* Viktig: gör React-root till layout-container */
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}